* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}
a{
    text-decoration: none;
    color: #000;
}
:root {
    --primary-color: #002366;
    /* --accent-color: #E85B1A; */
    /* --secondary-color: #7A7572; */
    --light-color: #d1eaf0;
    /* --background-color: #FBF8F6; */
    --small-font-size: 16px;
    --second-large-font-size: 24px;
    --large-font-size: 32px;
    --primary-font-size: 18px;
    /* --primary-font: 'Inter',sans-serif; */
}
/* #00ffff
#002366
#002147
#000fb3
#d1eaf0 */

.landing{
    height: 90vh;
    width: 100%;
    background: url(./ing/rinke-dohmen-6tsFCDEHF8c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 24px;
    overflow: hidden;
}
/* .landing .cov{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
    opacity: 40%;
} */
.landing > .contact-info{
    /* border: 1px solid black; */
    position: absolute;
    bottom: -40%;
    left: 0;
    /* height: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 16px; */
    transition: 1s ease-in-out;
    /* background: #fff; */
}
.landing > .contact-info.left{
    left: 0;
    bottom: 0;
    transition: 1s ease-in-out;
}
.landing > .contact-info .contact-info-cont{
    background-color: #fff;
    padding: 12px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.landing > .contact-info .contact-info-cont p{
    font-size: 24px;
    font-weight: 600;
}
.landing > .contact-info .contact-info-cont p.contact{
    width: 100%;
    text-align: center;
    padding: 12px;
    border: 1px solid var(--primary-color);
    margin-bottom: 12px;
}
.landing > .contact-info .contact-info-cont p.copy-contact{
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
    padding: 12px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.landing > .contact-info >p.contact{
    font-size: 24px;
}
.landing > h1{
    padding: 16px;
    position: absolute;
    text-align: center;
    /* width: 100%; */
    top: 0;
    left: 24px;
    right: 24px;
    z-index: 10000;
    /* background: rgba(255, 255, 255, 0.03); */
    background: #fff;
    backdrop-filter: blur(2px);
    color: var(--primary-color);
    text-transform: uppercase;
}
.landing > .main-bg{
    max-width: 700px;
    width: fit-content;
    padding: 24px;
    /* border: 1px solid black; */
    text-align: center;
    z-index: 100000;
    /* border: 1px solid red; */
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}
.landing > .main-bg h4{
    font-size: 32px;
    font-weight: 800;

}
.landing > .main-bg h4 span{
    display: block;
    /* color: rgb(226, 226, 18); */
    /* color: #002366; */
    /* color: #002147; */
    color: var(--primary-color);

}
.landing > .main-bg p{
    font-size: 18px;
}
.landing > .main-bg > .action-btn{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    /* cursor: pointer; */
}
.landing > .main-bg > .action-btn div{
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;
}
.landing > .main-bg > .action-btn a div{
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    /* border: 1px solid red; */
}
section.services{
    /* border: 1px solid black; */
    margin: 0 24px;
    padding: 24px 0 24px;
    /* border-top: 1px solid var(--primary-color); */
    border-bottom: 1px solid var(--primary-color);
}
section.services > .adinkra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

section.services > h2{
    font-size: 32px;
    margin-bottom: 0px;
    color: var(--primary-color);
    /* border: 1px solid black; */
}
section.services > h2 > span{
    font-size: 16px;
    display: block;
    color: #000;
}
section.services > .sub-cont {
    padding-top: 24px;
    padding-bottom: 24px;
    /* margin-bottom: 24px; */
    border-bottom: 1px solid var(--light-color);
    /* border-bottom: 1px solid var(--light-color); */
}
section.services > .sub-cont.last-cont {
    padding-top: 24px;
    padding-bottom: 24px;
    /* margin-bottom: 24px; */
    border-bottom: none;
    /* border-bottom: 1px solid var(--light-color); */
}
section.services > .sub-cont .icn{
    /* padding: 24px; */
    width: fit-content;
    fill: var(--primary-color);
    /* background: var(--primary-color); */
}
section.services > .sub-cont .icn svg{
    width: 40px;
    /* border: 1px solid red; */
    /* background: var(--primary-color); */
}
section.services > .sub-cont p{
    font-size: 18px;
}
section.services > .sub-cont p.sub-head{
    font-size: 24px;
    font-weight: 600;
}

section.why-us{
    margin: 0 24px;
    padding: 24px 0;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

section.why-us > h2 {
    font-size: 32px;
    display: block;
    color: var(--primary-color);
}

section.why-us > h2 > span{
    font-size: 16px;
    display: block;
    color: #000;
}
section.why-us > .sub-cont{
    margin: 24px 0 16px;
    /* border: 1px solid black; */
    position: relative;
}
section.why-us > .sub-cont > .sub-number{
    border: 1px solid black;
    padding: 8px 16px;
    font-size: 24px;
    width: fit-content;
    margin-bottom: 16px;
}
section.why-us > .sub-cont > .sub-head{
    font-size: 24px;
    font-weight: 600;
    /* margin-bottom: 8; */
    /* width: fit-content; */
}
section.why-us > .sub-cont > .sub-bg-num{
    position: absolute;
    font-size: 160px;
    font-weight: 600;
    left: 45%;
    top: 0;
    /* opacity: 10%; */
    color: #d1eaf0;
    /* width: fit-content; */
    z-index: -1;
}
section.why-us > .sub-cont > .sub-content{
    font-size: 18px;
}
section.our-process{
    margin: 0 24px;
    padding: 24px 0;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

}
section.our-process > h2 {
    font-size: 32px;
    display: block;
    color: var(--primary-color);
}

section.our-process > h2 > span{
    font-size: 16px;
    display: block;
    color: #000;
}
section.our-process > .sub-cont{
    margin: 24px 0 16px;
    /* border: 1px solid black; */
    position: relative;
}

section.our-process > .sub-cont .sub-icon{
    /* border: 1px solid black; */
    /* padding: 24px; */
    width: fit-content;
    fill: var(--primary-color);
    /* background: var(--primary-color); */
    
}
section.our-process > .sub-cont .sub-icon svg{
    width: 40px;
    /* border: 1px solid red; */
    /* background: var(--primary-color); */
}

section.our-process > .sub-cont .sub-content{
    font-size: 18px;
}
section.faq{
    margin: 0 24px;
    padding: 24px 0;
    border-top: 1px solid var(--primary-color);
    /* border-bottom: 1px solid var(--primary-color); */
}
section.faq > h2 {
    font-size: 32px;
    display: block;
    color: var(--primary-color);
}

section.faq > h2 > span{
    font-size: 16px;
    display: block;
    color: #000;
}
/* section.faq > h2 > span img{
    width: 16px;
} */
section.faq > .sub-cont{
    margin: 24px 0 16px;
    /* border: 1px solid black; */
    position: relative;
}
section.faq > .sub-cont .sub-head{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
section.faq > .sub-cont .sub-content{
    font-size: 18px;
}
section.footer{
    /* margin: 0 24px; */
    padding: 24px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    background: var(--primary-color);
}
section.footer > a {
    text-decoration: underline;
    color: #fff;
}
section.footer > a p{
    font-size: 24px;
    color: #fff;
    margin-bottom: 16px;
}
section.footer > p{
    font-size: 24px;
    color: #fff;
    margin-top: 48px;
    text-align: center;
}
section.footer > .adinkra{
    background: #fff;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

}